:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
	--color-background-dark: #1a1a1a;
    --color-dark: #1F232A;
    --color-text: #efefef;
	--color-other: #333333;
    --color-textdark: #777474;
    --color-button: #404040;
    --color-icon: #E1E1E1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) var(--color-background-shadow);
}
a {
    color: #fff !important;
    text-decoration: none !important;
}
/* estilo da pagina de login */

body, .login-desc {
	background-color: var(--color-background) !important;
}
.login .container > .footer {
	background-color: var(--color-background) !important;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: var(--color-text) !important;
	text-align: center;
}
.login .container > .panel {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-background-dark) !important;
	box-shadow: 2px 2px 2px 0px rgba(196,100,196,1);
	border: inherit !important;
}
.login .container > .panel .panel-body {
	color: var(--color-textdark) !important;
}
.login .container > .panel .panel-body h1, .login .container > .panel-login a {
	color: var(--color-text) !important;
}
.login .container .btn-orkut-2 {
	background: black !important;
}
#row-login {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.alert-login .panel,  .alert-login .panel .alerta {
	background-color: var(--color-background-dark) !important;
}
.alerta p:not( b ) {
	color: var(--color-text) !important;
}
.login-desc p:not( span ) {
	color: var(--color-text) !important;
}
.login-box .panel-login {
	background-color: var(--color-background-dark) !important;
	box-shadow: 2px 2px 2px 0px rgba(196,100,196,1);
}
.login-box .auth-subtitle, .login-box label {
	color: var(--color-text) !important;
}
.login-box .pd-l-5 {
	color: var(--color-textdark) !important;
}
.login-box .text-small {
	color: #da2747 !important;
}
.login-box .panel-login a {
	color: #cc1f89 !important;
}
.login-box .panel-login button {
	background-color: black;
	border: inherit;
	padding: 10px;
	border-radius: 10px;
	width: 100px;
	color: white;
}

/* estilo da pagina inicial */

.navbar-default.navbar-fixed-top {
	background: var(--color-background-dark) !important;
	min-height: 37px;
	box-shadow: 2px 2px 2px 0px rgba(196,100,196,1);
}
.nav > li > a {
	font-weight: bold;
	color: #d05d98  !important;
	border-left: inherit !important;
}
.logo {
    background-image: url(https://www.orkut.br.com/assets/img/favicon.png) !important;
	background-size: 24px;
	background-repeat: no-repeat;
    background-position: center;
	width: 24px;
	height: 24px;
	margin-top: 5px;
}
.navbar-header {
    padding-right: 5px;
}
.nav > li > span, .col-sm-7 .panel-home .panel-body.pd-tb-10 p, .col-sm-7 .panel-home .pd-tb-10 .alerta p:not( b ), .col-sm-7 .panel .panel-body p:not( span ), .panel-sugestao b {
	color: var(--color-textdark) !important;
}
.nav > li.menu-form form div.forms {
	background-color: #d05d98 !important;
}
.nav > li.menu-form input {
	background-color: #d05d98 !important;
	border: none !important;
}
.nav > li.menu-form input, .nav > li.menu-form input::placeholder, .col-sm-2 .panel-home .menu2 b, .col-sm-7 .panel-home .pd-tb-10 h3, .sugestao .suggestions a, .col-sm-3 .amigos {
	color: var(--color-text) !important;
}
body > .container {
	padding-top: 10px;
}
ul.menu-left{
	background-color: var(--color-background) !important;
}
.col-sm-2 .panel-home .m-separator, .col-sm-2 .panel-home .status {
	display: none;
}
.col-sm-2 .panel-home a {
	font-weight: bold;
	color: #d05d98 !important;
}
.panel.panel-home .panel-body img.img-perfil {
	border-radius: 5px;
	padding: 0 !important;
}
.col-sm-7 .panel-home .pd-tb-10 .alerta {
	background: var(--color-background) !important;
	padding: 0 !important;
}
.col-sm-7 .panel, .col-sm-3 .panel, .col-sm-2 .panel-home {
	background-color: var(--color-background) !important;
	border: 1px solid rgba(196,100,196,1);
}
.col-sm-3 .panel .btn-footer {
	border-top: inherit !important;
}
.no-friend {
	background: var(--color-background) !important;
	padding: 0px 5px !important;
	color: var(--color-textdark) !important;
}
.amigo-area.m1 {
    margin-right: 3px !important;
    margin-left: 1px !important;
}
.amigo-area.m2 {
    margin: 0px 3px 0px 0px !important;
}
.amigo-area.m3 {
    margin-left: 0px !important;
}
.btn-orkut-2 {
	background: #d05d98 !important;
	color: var(--color-text) !important;
	padding: 5px !important;
	text-decoration: none !important;
	border: inherit !important;
}
.btn-orkut-2:hover {
	color: black !important;
}
.sugestao.owl-carousel .owl-stage .owl-item {
	border-radius: 5px;
	border: 1px solid #d05d98;
}
.sugestao .item .suggestions {
	background: var(--color-background-dark) !important;
	border-radius: 5px;
}
.amigo-area {
	background: var(--color-background-dark) !important;
	border-radius: 5px;
	border: 1px solid #d05d98;
}
.amigo-area div {
    display: inherit !important;
}
.amigo-area img, .owl-carousel .owl-item img {
	border-radius: 50%;
}
.sugestao .item .close {
	text-shadow: inherit !important;
	color: #d05d98 !important;
	right: 5px !important;
	font-size: 15px !important;
}
.sugestao .btn-add-friend {
	background-color: #d05d98;
	color: var(--color-text) !important;
	border-radius: 0px 0px 3px 3px;
	padding: 2px;
	height: 30px;
	text-decoration: none;
}
.sugestao .owl-next span, .sugestao .owl-prev span {
	color: #d05d98 !important;
	font-size: 25px;
	background: none !important;
}
.owl-carousel .owl-nav button.owl-next {
	margin-top: -15px;
}
.col-sm-7 .panel.panel-feed {
	border: inherit !important;
}
.panel-cmmfeed .panel-heading {
	background: var(--color-background-dark) !important;
	border-bottom: 1px solid var(--color-background-dark) !important;
}
.panel-cmmfeed .panel-footer {
	background: var(--color-background-dark) !important;
	border-top: 1px solid var(--color-background-dark) !important;
}
.panel-cmmfeed .panel-body, .panel-cmmfeed .panel-body .topic {
	background: var(--color-background-dark) !important;
}
.panel-cmmfeed .more {
	background: inherit !important;
	border-bottom: inherit !important;
}
blockquote {
    border-left: 5px solid var(--color-background-shadow) !important;
}
.panel-cmmfeed .panel-body .topic .img-scrapbook {
	background: inherit !important;
	border: inherit !important;
	border-radius: 50%;
}
footer .container {
	background: var(--color-background-dark) !important;
}
.logo-footer {
    background-image: url(https://www.orkut.br.com/assets/img/favicon.png) !important;
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 5px;
	padding-left: 4px !important;
}
.logo-footer img {
	display: none;
}
.infinite-scroll-request {
	background: var(--color-background-dark) !important;
}
.infinite-scroll-request .fa {
	color: var(--color-text) !important;
}
.panel-feed ul.nav.nav-tabs li.active a {
	background: var(--color-background-dark) !important;
}
.panel-feed ul.nav.nav-tabs li a {
	background: var(--color-background-shadow) !important;
}
.editar-perfil ul.nav.nav-tabs li a, .perfil ul.nav.nav-tabs li a {
	border-radius: 5px !important;
	color: var(--color-textdark) !important;
}